.header {
  width: 100%;
  height: 200px;
  background-color: #725ac1;
  nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    padding-top: 16px;
    margin: 0;
  }
  nav a {
  }
}
